<a href="https://colab.research.google.com/github/ds4geo/ds4geo/blob/master/Lecture%201%20-%20Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lecture 1 Practical Excercises**

**Section 1**

Welcome to python running in a Jupyter Notebook in Google Colab!

We are going to load, view and plot the famous Lisiecki and Raymo (2005) "LR04 stack" benthic d18O stack with just a few lines of python code.

Below is a "code cell".
Follow the instructions in the comments.

In [ ]:
# Click here and run the code cell by pressing the play button, or ctrl+enter
# Import some libraries with useful functionality
import pandas as pd # For loading and manipulating data
import matplotlib.pyplot as plt

In [ ]:
# Load the LR04 stack from a csv file hosted in the course github repository using pandas
dat = pd.read_csv(r"https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/LR04stack_short.csv")

In [ ]:
# Display an overview of the loaded data
dat

In [ ]:
# Plot the data using matplotlib
plt.plot(dat["Time"], dat["d18O"])

**Section 2**

The above example uses simplified data and the most basic plotting.
Now we will load data from the actual data file published by Lisiecki and Raymo (2005), and we will improve the plotting. To do this we will need to use additional arguments and functions.

In [ ]:
'''
Multi-line comments can be created using triple inverted commas.

Load the original LR04 stack from a tab delimited txt file
Check the data file here: https://github.com/ds4geo/ds4geo/blob/master/data/timeseries/LR04stack.txt

You'll notice the column headings are on line/row 5 and the data starts on row 6.
Therefore we need to tell pd.read_csv which row the headings are on.
We can do this by adding a keyword argument called "header".
pd.read_csv ignores blank lines by default, and python starts counts at 0, so we pass header=3

The delimiter of this file is tab, not comma, so we also need to use the sep argument with the value "\t" for tab.
'''
# Read the original LR04 stack
dat = pd.read_csv(r"https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/LR04stack.txt", sep="\t", header=3)

In [ ]:
# Display an overview of the loaded data. The data is stored as a pandas DataFrame
dat

In [ ]:
# The long column names are annoying to type out while coding, so we can rename them if we want:
# The DataFrame object dat has an attribute called columns.
# We can use the core python print function to display objects in the cell output (or terminal)
print(dat.columns)

# We can overwrite the column names by assigning a list of new ones to the columns attribute.
dat.columns = ["Time", "d18O", "error"]

# Print the column names again to see the change
print(dat.columns)

In [ ]:
# Plot the data with matplotlib
plt.plot(dat["Time"], dat["d18O"])

In [ ]:
# That shows the whole record which isn't easy to read
# Now we add some basic plotting controls: axes limits

# Plot the data
plt.plot(dat["Time"], dat["d18O"])

# Limit the X axis to the last 140 ka
plt.xlim(0, 140)
# Limit the Y axis to a sensible range
plt.ylim(3, 5.5)

In [ ]:
# This record is often shown filpped vertically so warm inter-glacial periods are "up"
# Sometimes it is also shown flipped horizontally so time goes left to right

# Plot the data
plt.plot(dat["Time"], dat["d18O"])

# Flip the X axis by reversing
plt.xlim(140, 0)
# Flip the Y axis in the same way
plt.ylim(5.5, 3)

**Section 3**

In [ ]:
dat = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/NGRIP_chronology_20.tab", sep="\t", header=20)
#dat = pd.read_csv(r"https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/NGRIP_chronology_20.tab", sep=, header=)

In [ ]:
dat

In [ ]:
dat.columns = ["age", "depth", "error", "d18O"]
# dat.columns = [$]

In [ ]:
plt.plot(dat["age"], dat["d18O"])
plt.xlim(40, 30)

In [ ]:
dat = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/timeseries/Alps_flood_de.txt", sep=";", header=9, decimal=",")